<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width">
    <title>Insight</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
        type="application/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
  </head>

  <body>
    <header class="header" style="width: 100%;">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Insight</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contest">Contest</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/upload_file_render">Room Detail</a>
              </li>
              <li class="nav-item">
                {% if score %} 
                <a class="nav-link" href="http://127.0.0.1:8000/back_home_from_exam?username={{username}}&score={{score}}">Back To Home</a>
                {% else %}
                <a class="nav-link" href="http://127.0.0.1:8000/back_home_from_exam?username={{username}}">Back To Home</a>
                {% endif %}
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/sign">Sign</a>
              </li> -->

              <!-- <li class="nav-item">
                <a class="nav-link" href="/verify">Verify</a>
              </li> -->
              
              <!-- <li class="nav-item">
                <a class="nav-link" href="/mail">Mail</a>
              </li> -->

              {% if username %}  
                <div>
                  <button id="connect-metamask-btn" class="btn btn-outline-primary  ms-5 mb-2"
                          onclick="connectToMetamask(event)"  >
                    Connect Wallet
                  </button>
                </div>
              {% endif %}
            </ul>
            <form class="d-flex" role="search">
              {% if username %}
                <div style="align-items: center; display: flex; margin-right: 10px;">
                  <div class="icon-container" style="margin-right: 10px;">
                    <i id="notification-icon" class="bi bi-bell-fill"></i>
                  </div>
                    <span id="username"
                          onclick="window.location.href=`/{{username}}`">
                      Hi {{ username }}
                    </span>
                </div>
{#                <button id="logoutButton" class="btn btn-outline-danger" onclick="logout_user(event)">Log out</button>#}
                <div class="dropdown">
                    <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Action
                    </button>
                    <ul id="dropdown-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <li><a class="dropdown-item" href="/{{username}}">Profile</a></li>
                      <li><a class="dropdown-item" href="/mentor">Room Mentor</a></li>
                      <li><a class="dropdown-item" href="/contestant">Room Contestant</a></li>
                      <li><a class="dropdown-item" href="/former/view">Room Former</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#" onclick="logout_user(event)">Log out</a></li>
                    </ul>
                  </div>
              {% else %}
                <button id="loginButton" class="btn btn-outline-success" onclick="login_user(event)">Login/Sign Up</button>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}
      {% if username %}
        <div class="modal fade" id="noti-examiner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                  <h3>Hi {{ username }}! </h3></br>
                  <!-- <h3>You are a examiner!</h3> -->
                  <h3>Welcome to our website!</h3>
                </div>
            </div>
          </div>
        </div>

        <!-- Notification -->
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            // var examiner = new bootstrap.Modal(document.getElementById('noti-examiner'));
            // examiner.show();

            // setTimeout(function() {
            //   examiner.hide();
            // }, 5000);
          });
        </script>
      {% endif %}
    {% endblock %}

    <!-- Mail Click -->
    <script>
      // document.getElementById("notification-icon").addEventListener("click", function() {
      //   window.location.href = "/notification";
      // });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/static/base.js"></script>
    <script>
      async function connectToMetamask(event) {
        event.preventDefault();

        if (!window.ethereum) {
          alert('Metamask not installed')
          return
        }

        if('{{metamask_id}}' == '' || '{{metamask_id}}' == 'None') {
          alert('Please login again!')
          return
        }

        // A Web3Provider wraps a standard Web3 provider, which is
        // what MetaMask injects as window.ethereum into each page
        const provider = new ethers.providers.Web3Provider(window.ethereum)

        // MetaMask requires requesting permission to connect users accounts
        const accounts = await provider.send("eth_requestAccounts", []);
        console.log("accounts = ", accounts)

        // The MetaMask plugin also allows signing transactions to
        // send ether and pay to change state within the blockchain.
        // For this, you need the account signer...
        console.log("metamask = ", '{{metamask_id}}')

        try{
          const signer = provider.getSigner('{{metamask_id}}'); // signer.getAddress() == accounts[0]
          const signerAddress = await signer.getAddress();
          console.log("signerAddress = ", signerAddress)
          if('{{metamask_id}}' != signerAddress) {
            alert('Please connect to the correct metamask account.\nYour metamask account is {{metamask_id}}')
            return
          }
          const button = document.getElementById("connect-metamask-btn");
          button.innerHTML = signerAddress;
          sessionStorage.setItem("metamask_id", signerAddress);
        } catch (e) {
          console.log(e);
          alert('Please connect to the correct metamask account.\nYour metamask account is {{metamask_id}}')
          return
        }
      }
    
      const connectMetamaskButton = document.getElementById("connect-metamask-btn");
      if( '{{metamask_id}}' && '{{metamask_id}}' != 'None' && sessionStorage.getItem('metamask_id') ) {
          connectMetamaskButton.innerHTML = sessionStorage.getItem('metamask_id');
      }
    </script>
  </body>
</html>
