{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mt-2">Challenge Request</h1>

{% if rooms %}
    <table class="table table-striped mt-3 text-center mt-4">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Contestant Score</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% for room in rooms %}
        <tr>
            <th scope="row" class="col-2">{{ loop.index }}</th>
            <td class="col-4">{{ room.contestant_info.username }}</td>
            <td class="col-2">{{ room.contestant_info.score }}</td>
            <td class="col-4">
              <div class="btn-group" role="group" aria-label="inline-btn">
                <button style="min-width: 5rem;" type="button" class="btn btn-outline-success me-3 pt-0 pb-0"
                  onclick="update_room_state(event, {{room.json}}, 1)"
                >
                  <i class="bi bi-check" style="font-size: 1.5rem;"></i>
                </button>
                <button style="min-width: 5rem;" type="button" class="btn btn-outline-danger pt-0 pb-0"
                  onclick="update_room_state(event, {{room.json}}, -1)"
                >
                  <i class="bi bi-x" style="font-size: 1.5rem;"></i>
                </button> 
              </div>
            </td>  
          </tr>
          {% endfor %}
      </tbody>
    </table>

  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}

<script>
  function update_room_state(e, data, new_state){
    console.log(data)
    e.preventDefault();
    fetch('/update_room_state', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'room_id': data._id,
        'state': new_state
      })
    })
    .then(response => response.json())
    .then(result => {
      console.log(result);
      if (result.status == 200){
        if(new_state == 1){
          alert("Challenge request accepted! Please check room in Room Mentor!");
        }

        window.location.reload(); 
      }
      else {
        alert(result.message);
      }
    })
    .catch(error => {
      console.log(error);
      alert("Something went wrong. Please try again!");
    });
}
</script>

{% endblock %}