{% extends 'base.html' %}
{% block content %}
  
{% if user %}
<style>
  .my-self{
    color: red !important;
  }

  .table-striped>tbody>tr:first-child>* {
    /* background-color: var(--bs-primary-bg-subtle); */
    background-color: #5f9af3;
    color: white;
    --bs-table-bg-type: var(--bs-table-striped-bg); 
  }
</style>
{% endif %}

<script>
  function confirmChallenge(event, user) {
    const form = document.getElementById("challenge-form");
    if(!form.checkValidity()) {
      alert("Please enter a valid score!");
      return;
    }
    
    const new_score = form.new_score.value;
  
    user = JSON.parse(user);
    // console.log(user)

    if(!user || !user.username) {
      alert("You need to login first!");
      return;
    }

    const score = parseInt(user.score);
    const new_score_element = document.getElementById("new-score");
    const new_score_value = parseInt(new_score_element.value);

    if(new_score_value <= score) {
      alert("Your score must be greater than your current score!");
      return;
    }

    const confirmation = window.confirm(`Do you want to join challenge with score: ${new_score_value}?`);
    if (confirmation) {
        sendChallenge(user._id, score, new_score_value);
    }
  }

  function sendChallenge(user_id, score, new_score) {
    console.log("user_id: ", user_id)
    console.log('score: ', score)
    console.log("new_score: ", new_score)
    let temp = {
      "challenger_id": user_id,
      "score": score,
      "new_score": new_score
    }
    temp = JSON.stringify(temp)
    // console.log("temp: ", temp)
    fetch('/challenge', {
        method: 'POST',
        body: temp,
        headers: {
          "Content-Type": "application/json",
        },
    })
    .then(response => response.json())
    .then(response => {
      if(response.status == "failed") {
        alert(response.message);
        return;
      }
      else {
        room_info = JSON.parse(response.data)
        console.log(room_info)
        window.location.href = `/contestant/` + room_info._id['$oid']; 
      }
    })
    .catch(error => {
      console.log('Error:', error);
      alert("Server is busy, try again later!")
    })
  }
</script>

<div class="container">
  <h1 class="text-center mt-3">Contest</h1>

  <form  id="challenge-form" class="float-start row col-6 mt-3 mb-3">
    <div style="width: 40%;" class="input-group">
      <span class="input-group-text">Wanted Score</span>
      <input id="new-score" required type="number" name="new_score" autocomplete="off" style="flex: 0 0 auto; width: 40%;" class="form-control" placeholder="0" aria-label="Want Score" aria-describedby="basic-addon1"
        {% if new_score %}
          value="{{new_score}}"
        {% endif %}
      >
    </div>

    <button type="button"  style="width: 20%;" class="btn btn-success search-button"
            onclick="confirmChallenge(event, '{{user_json}}')">
            Join Challenge
    </button>
  </form>

  <form method="post" class="float-end row col-6 mt-3 mb-3">
    <div style="width: 40%;" class="input-group col-6">
      <span class="input-group-text" id="min-score">Min Score</span>
      <input required type="number" name="min_score" value="{{min_score}}" autocomplete="off" style="flex: 0 0 auto; width: 30%; " class="form-control" placeholder="0" aria-label="Min Score" aria-describedby="basic-addon1">
    </div>

    <div style="width: 40%;" class="input-group col-6">
      <span class="input-group-text" id="max-score">Max Score</span>
      <input required type="number" name="max_score" value="{{max_score}}" autocomplete="off" style="flex: 0 0 auto; width: 30%;" class="form-control" placeholder="0" aria-label="Max Score" aria-describedby="basic-addon1">
    </div>

    <button  style="width: 10%;" class="btn btn-success search-button">Filter</button>
  </form>

  {% if mentors %}
    <table class="container table table-striped mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Score</th>
          <!-- <th scope="col">Public Key</th> -->
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% if user %}
          <tr class="my-self">
            <th scope="row" class="col-1">0</th>
            <td class="col-3">{{user.username}}</td>
            <td class="col-3">{{user.score}}</td>
            <td class="col-2 align-items-center">
              <div class="btn-group" role="group" aria-label="inline-btn">
                <button style="min-width: 5rem;" type="button" class="btn btn-outline-success"
                        onclick="window.open('/{{user.username}}')">
                  View
                </button>
              </div>
            </td>  
          </tr>
        {% endif %}

        {% for mentor in mentors %}
        <tr>
            <th scope="row" class="col-1">{{ loop.index }}</th>
            <!-- <td class="col-5">{{ user.username }}</td> -->
            {% if mentor.name %}
             <td class="col-3">{{ mentor.name }}</td>
            {% else %}
             <td class="col-3">{{ mentor.username }}</td>
            {% endif %}

            <td class="col-2">{{ mentor.score }}</td>
            <td class="col-2 align-items-center">
              <div class="btn-group" role="group" aria-label="inline-btn">
                <button style="min-width: 5rem;" type="button" class="btn btn-outline-success"
                        onclick="window.open('/{{mentor.username}}')">
                  View
                </button>
              </div>
            </td>  
          </tr>
          {% endfor %}
      </tbody>
    </table>

  {% else %}
    <h2 class="text-center mt-3">No user found</h2>
  {% endif %}
</div>
{% endblock %}