{% extends 'base.html' %}
{% block content %}

<script>
function viewTest(roomID, mentorID) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/view_test/' + roomID + "?mentor_id=" + mentorID, true);
  xhr.responseType = 'arraybuffer';

  xhr.onload = function () {
    if (xhr.status == 200) {
      // Nếu nhận được dữ liệu thành công, tạo một blob từ arrayBuffer và mở cửa sổ mới chứa PDF
      var arrayBuffer = xhr.response;
      var blob = new Blob([arrayBuffer], { type: 'application/pdf' });
      var url = URL.createObjectURL(blob);

      // Mở cửa sổ mới chứa PDF
      window.open(url, '_blank');
    } else {
      alert('Error! Please try again!');
    }
  };

  // Gửi yêu cầu lấy dữ liệu PDF từ server
  xhr.send();
}

function viewTestSignature(room_id, mentorID){
  window.open('/room/mentor/test_signature?room_id=' + room_id + '&mentor_id=' + mentorID, '_blank');
}

async function checkMetamask() {
  if (!window.ethereum) {
      alert('Metamask not installed')
      return null;
    }
  if('{{metamask_id}}' == '') {
    alert('Please login again!')
    return null;
  }
  const provider = new ethers.providers.Web3Provider(window.ethereum)
  console.log("metamask = ", '{{metamask_id}}')
  const signer = provider.getSigner('{{metamask_id}}'); // signer.getAddress() == accounts[0]
  const signerAddress = await signer.getAddress();
  console.log("signerAddress = ", signerAddress)
  if('{{metamask_id}}' != signerAddress) {
    alert('Please connect to the correct metamask account.\nYour metamask account is {{metamask_id}}')
    return null;
  }

  return signer;
}

function uploadTest(roomId, mentorID) {
  // get file from mentor's computer
  var fileInput = document.createElement('input');
  fileInput.type = 'file';
  fileInput.accept = '.pdf';  // Only accept PDF file

  console.log(fileInput)

  fileInput.onchange = async function () {
    const signer = await checkMetamask();
    if(signer == null) return;

    var file = fileInput.files[0];
    var formData = new FormData();
    formData.append('file', file);
    formData.append('room_id', roomId);
    formData.append('mentor_id',mentorID);

    // Gửi yêu cầu POST để tải lên file đề thi lên server
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/mentor', true);
    xhr.onload = function () {
        if (xhr.status == 200) {
            alert('Successful!');
            location.reload();
        } else {
            alert('Error! Please try again!');
        }
    };


  // Here, you can read the file content, for example:
  const reader = new FileReader();
  reader.onload = function (e) {
  const fileContent = e.target.result;
    // You can do something with the file content here

  const arr = new Uint8Array(fileContent);
  hash_file = ethers.utils.sha256(arr);
  signer.signMessage(hash_file)
    .then((signature) => {
      fetch('/room/mentor/sign', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'room_id': roomId,
          'mentor_id': mentorID,
          'signature': signature
        })
      })
      .then((response) => response.json())
      .then((data) => {
          console.log('Data:', data);
          if(data['status'] == '400') {
            alert(data['message'])
            return
          }
          console.log('Successful!');
          xhr.send(formData);
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('Error! Please try again!');
      });
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('You need to sign this message');
    });
};
reader.readAsArrayBuffer(file); // Read the file as text

  };

  // Kích hoạt sự kiện click trên input[type=file] để chọn file
  fileInput.click();
}

function encode_string_to_byte(str) {
  // Create a TextEncoder instance
  const textEncoder = new TextEncoder();

  // Convert the string to an array of bytes
  const byteArray = textEncoder.encode(str);
  return byteArray;
}

async function gradeTest(roomID, mentorID) {
  const signer = await checkMetamask();
  if(signer == null) return;
  
  const score = document.getElementById('score').value;

  const score_byte = encode_string_to_byte(score);
  const arr = new Uint8Array(score_byte);
  const hash_score = ethers.utils.sha256(arr);

  signer.signMessage(hash_score)
    .then((signature) => {
      console.log('Signature:', signature)
      return fetch('/room/mentor/score_signature', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          'room_id': roomID,
          'mentor_id': mentorID,
          'signature': signature
        })
      })
      .then((response) => response.json())
      .then((data) => {
          console.log('Data:', data);
          if(data['status'] == '400') {
            alert(data['message'])
            return
          }
          alert('Successful!');
          xhr.send(JSON.stringify({ roomID: roomID, mentorID: mentorID, score: score }));
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('Error! Please try again!');
      });
    })
    .catch((error) => {
      console.error('Error:', error);
      alert('You need to sign this message');
    });


  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/save_grade/'+roomID+'?mentor_id='+mentorID, true);
  xhr.setRequestHeader('Content-Type', 'application/json');

  // Gửi dữ liệu điểm và thông tin về phòng thi đến server

  // Xử lý kết quả từ server (nếu cần)
  xhr.onload = function() {
      if (xhr.status === 200) {
          console.log('Success.');
          location.reload();
      } else {
          console.log("Error")
      }
  };
  // Đóng modal sau khi nhấn "Submit"
  $('#gradeModal').modal('hide');
}

function viewSubmit(roomID, mentorID) {
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/view_submit/' + roomID + "?mentor_id=" + mentorID, true);
  xhr.responseType = 'arraybuffer';

  xhr.onload = function () {
    if (xhr.status == 200) {
      // Nếu nhận được dữ liệu thành công, tạo một blob từ arrayBuffer và mở cửa sổ mới chứa PDF
      var arrayBuffer = xhr.response;
      var blob = new Blob([arrayBuffer], { type: 'application/pdf' });
      var url = URL.createObjectURL(blob);

      // Mở cửa sổ mới chứa PDF
      window.open(url, '_blank');
    } else {
      alert('Error! Please try again!');
    }
  };

  // Gửi yêu cầu lấy dữ liệu PDF từ server
  xhr.send();
}

function viewScoreSignature(roomID, mentorID) {
  window.open('/room/mentor/score_signature?room_id=' + roomID + '&mentor_id=' + mentorID, '_blank');
}

</script>
  <!-- {{mentor_rooms}} -->

  <h1 class="text-center mt-3">Mentor Room</h1>

  {% if mentor_rooms %}
    <table class="table table-bordered mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">RoomID</th>
          <th scope="col">Contestant</th>
          <th scope="col">Test</th>
          <th scope="col">Submission</th>
          <th scope="col">Score</th>
          <th scope="col">Test Signature</th>
          <th scope="col">Score Signature</th>
        </tr>
      </thead>

      <tbody class="overflow-auto">
        {% for room in mentor_rooms %}
        <tr>
          <th scope="row" class="col-1">{{ loop.index }}</th>
          <td class="col-2">{{ room._id }}</td>
          <td class="col-2">{{ room['contestant']['username'] }}</td>
          
          <!-- test -->
          {% if not room.tests[0]['test'] %}
            <td class="col-1">
              <button class="btn btn-danger" onclick="uploadTest('{{ room._id }}', '{{ room.mentors.id }}')">Upload</button>
            </td>
          {% else %}
            <td class="col-1">
              <button class="btn btn-success" onclick="viewTest('{{ room._id }}', `{{ room.mentors['id'] }}`)">View</button>
            </td>
          {% endif %}

          <!-- Submission -->
          {% if not room.tests[0]['submission'] %}
            <td class="col-1">None</td>
          {% else %}
            <td class="col-1">
              <button class="btn btn-success" onclick="viewSubmit('{{ room._id }}', `{{ room.mentors['id'] }}`)">View</button>
            </td>
          {% endif %}

          <!-- Score -->          
          {% if room.tests[0]['score']%}
            <td class="col-1">{{room.tests[0]['score']}}</td>
          {% elif room.tests[0]['submission'] %}
            <td class="col-1">
              <!-- Score button -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gradeModal">Score</button>

              <div class="modal fade" id="gradeModal" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <form id="gradeForm">
                        <div class="mb-3">
                          <label for="score" class="col-form-label">Enter Score:</label>
                          <input type="number" class="form-control" id="score" name="score" required min="0" max="10">
                        </div>
                        <button type="button" class="btn btn-danger" onclick="gradeTest('{{ room._id }}', `{{ room.mentors['id'] }}`)">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          {% else %}
            <td class="col-1">None</td>
          {% endif %}

          <!-- Test Sign -->
          {% if room.tests[0]['test_sign'] %}
           <td class="col-1">
              <button class="btn btn-success" onclick="viewTestSignature('{{ room._id }}', `{{ room.mentors['id'] }}`)">View</button>
           </td>
          {% else %}
           <td class="col-1">None</td>
          {% endif %}

          <!-- Score Sign -->
          {% if room.tests[0]['score_sign'] %}
           <td class="col-1">
              <button class="btn btn-success" onclick="viewScoreSignature('{{ room._id }}', `{{ room.mentors['id'] }}`)">View</button>
           </td>
          {% else %}
           <td class="col-1">None</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2 class="text-center mt-3">No room found</h2>
  {% endif %}

<!-- Button trigger modal -->
<button id="button-launch-modal"  type="button" class="d-none btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>abc</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}