{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Notifications</h2>
    <div class="table-responsive mx-auto" style="max-width: 100%;">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>From</th>
                    <th>Content</th>
                </tr>
            </thead>
            <tbody>
            <!-- {% if username %}
                <tr>
                    <td>Admin</td>
                    <td>You are an examiner!</td>
                </tr>
            {% endif %} -->
            {% for mail in mails %}
                <tr>
                    <th scope="row" class="col-1">{{ loop.index }}</th>
                    <td class="col-4">{{ mail.addr_from }}</td>
                    <td class="col-7">{{ mail.content }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}