{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/signup.css">
    <script src="https://cdn.jsdelivr.net/npm/web3@1.6.0/dist/web3.min.js"></script>
    {% if form %}
        {% for message in form.username.errors %}
            <div class="alert-danger">{{ message }}</div>
        {% endfor %}
        
        {% for message in form.metamask_id.errors %}
            <div class="alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="wrapper" style="margin-top: 50px; margin-bottom: 10px;">
        <div class="title-text">
           <div class="title login">
              Login
           </div>
           <div class="title signup">
              Sign Up
           </div>
        </div>
        <div class="form-container">
           <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Sign Up</label>
                <div class="slider-tab"></div>
           </div>
           <div class="form-inner">
                <form class="login" name="login" role="form" action="{{ url_for('signup') }}" method="POST">
                    <div class="field">
                        <input name="username" type="text" class="form-control" placeholder="Username" {% if username_login %} value="{{ username_login }}" {% endif %} required autofocus>
                    </div>
                    <input name="score" type="hidden" {% if username_login %} value="{{ score }}" {% endif %}>
                    <div class="field">
                        <input id="metamaskID-login" name="metamask_id" type="text" class="form-control" placeholder="Your Metamask ID" required readonly>
                    </div>
                    <div class="col-sm-4">
                        <button id="connectButtonLogin" class="btn btn-primary btn-sm" data-style="expand-right" type="button" style="height: 100%; padding: 6px; margin-top: 5px;">
                            <span class="ladda-label">Connect</span>
                            <div id="spinner-connect-login" class='d-none ml-2 spinner-border spinner-border-sm' style="margin-left: 2px;"></div>
                        </button>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" name="login-submit" value="Login">
                    </div>
                    <div class="signup-link">
                        Don't Have Account? <a href="" {% if username_signup %} is-signup="true" {% endif %}>Create A New</a>
                    </div>
                </form>

                <form class="signup" name="signup" role="form" action="{{ url_for('signup') }}" method="POST">
                    <div class="field">
                        <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus {% if username_signup %} value="{{ username_signup }}" readonly {% elif not former %} disabled {% endif %}>
                    </div>
                    <input name="score" type="hidden" {% if username_signup %} value="{{ score }}" {% endif %}>
                    <div class="field">
                        <input id="metamaskID" name="metamask_id" type="text" class="form-control" placeholder="Your Metamask ID" required readonly {% if not username_signup and not former %} disabled {% endif %}>
                    </div>
                    <div class="col-sm-4">
                        <button id="connectButton" class="btn btn-primary btn-sm" data-style="expand-right" type="button" style="height: 100%; padding: 6px; margin-top: 5px;" {% if not username_signup and not former %} disabled {% endif %}>
                            <span class="ladda-label">Connect</span>
                            <div id="spinner-connect" class='d-none ml-2 spinner-border spinner-border-sm' style="margin-left: 2px;"></div>
                        </button>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" name="signup-submit" value="Sign Up" {% if not username_signup and not former %} disabled {% endif %}>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/signup.js"></script>
{% endblock %}



