.main {
    display: flex;
    max-width: 64rem;
    position: relative;
    width: calc(100% - 3rem);
    margin: 20px auto 1em;
}

body {    
    background: #f1f2f2;   
}

.main>section {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

.md\:shadow-big {
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 0 6px 22px 4px rgba(7,48,114,.12), 0 6px 10px -4px rgba(14,13,26,.12);
}

@media (min-width: 768px) {
    .md\:p-8 {
        padding: 2rem;
    }

    .md\:rounded-xl {
        border-radius: 1rem;
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:flex {
        display: flex;
    }

    .md\:w-1\/2 {
        width: 50%;
    }

    .md\:mr-8 {
        margin-right: 2rem;
    }

    .md\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .md\:-m-2 {
        margin: -0.5rem;
    }
    
}

.p-6 {
    padding: 1.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-16 {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.border-grey-transparent {
    border-color: rgba(21,20,26,.2);
}
.border-dashed {
    border-style: dashed;
}
.border-2 {
    border-width: 2px;
}
.rounded-default {
    border-radius: 0.25rem;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.w-10 {
    width: 2.5rem;
}

.h-10 {
    height: 2.5rem;
}
.link-primary {
    color: #0a84ff;;
}
svg {
    display: block;
    vertical-align: middle;
}

.font-sans {
    font-family: Inter,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Oxygen,Fira Sans,Droid Sans,Helvetica Neue;
}

.text-base {
    font-size: 1rem;
}

.text-center {
    text-align: center;
}
.pb-6 {
    padding-bottom: 1.5rem;
}

.opacity-0 {
    opacity: 0;
}

.overflow-hidden {
    overflow: hidden;
}
.appearance-none {
    -webkit-appearance: none;
    appearance: none;
}
.w-0 {
    width: 0;
}
.h-0 {
    height: 0;
}
.absolute {
    position: absolute;
}
.rounded-lg {
    border-radius: 0.5rem;
}

.items-center {
    align-items: center;
}

.mt-4 {
    margin-top: 1rem;
}
.button {
    --tw-text-opacity: 1;
    background-color: #0a84ff;
    color: rgba(255,255,255,1);
    cursor: pointer;
    font-weight: 600;
    padding: 1rem 1.5rem;
}
[role=button], button {
    cursor: pointer;
}

.mt-6 {
    margin-top: 1.5rem;
}